/* @import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Poppins:wght@200&display=swap"); */
/* <style> */
@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Josefin+Sans&family=MonteCarlo&family=Poppins:wght@200&display=swap");
/* </style> */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lora", serif;
}

html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #c770f0;
}
.purple {
  color: var(--imp-text-color) !important;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}

.main-section {
  /* z-index: -1; */
  background-image: var(--image-gradient), url(/home-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.show {
  color: red;
}
.remove {
  color: violet;
}
