/* @import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Poppins:wght@200&display=swap"); */
/* <style> */
@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Josefin+Sans&family=MonteCarlo&family=Poppins:wght@200&display=swap");
/* </style> */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lora", serif;
}

html {
  scroll-behavior: smooth;
}

html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #c770f0;
}
.purple {
  color: var(--imp-text-color) !important;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}

.main-section {
  /* z-index: -1; */
  background-image: var(--image-gradient), url(/home-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  /* padding-bottom: 30px !important; */
  padding-top: 30px !important;
}

.show {
  color: red;
}
.remove {
  color: violet;
}

.logo-svg {
  font-family: "Russo One", sans-serif;
}
.logo-text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 15rem;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: white;
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: #8c2ee1;
    stroke-width: 3;
  }
  100% {
    fill: #8c2ee1;
    stroke: #8c2ee1;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.welcome-greet {
  font-family: "Source Code Pro", monospace;
}

.about {
  font-family: cubano, sans-serif;
}

/* nav  */

.nav::after {
  content: "";
  position: absolute;
  background-color: #8e2fe3;
  height: 3px;
  width: 0;
  left: 0px;
  bottom: -10px;
  transition: 0.5s;
}
.nav:hover::after {
  width: 100%;
}
